body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#title {
    font-size: 36px;
    margin-top: 50px;
}

.map-container {
    display: flex;
    justify-content: center;
}

#map {
    position: relative;
    width: 70%;
    height: 500px;
    border: 2px solid #ccc;
    margin-top: 20px;
}

.content {
    position: absolute;
    width: 10px; /* Set the width and height to 10px */
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1; /* Ensure that the dots are positioned above other elements */
}

#writing1, #writing2 { background-color: blue; }
#videos1, #videos2 { background-color: red; }
#articles1, #articles2 { background-color: lime; }
#data1, #data2 { background-color: #fc0fc0; }
#images1, #images2 { background-color: cyan; }

#key {
    margin-left: 20px;
}

.key-item {
    margin-bottom: 10px;
    background-color: transparent; /* Add back the background color */
    color: white;
    padding: 10px;
    font-weight: bold;
}

.key-item.writing { background-color: blue; }
.key-item.videos { background-color: red; }
.key-item.articles { background-color: lime; }
.key-item.data { background-color: #fc0fc0; }
.key-item.images { background-color: cyan; }

.left-text {
    position: fixed;
    left: 10px;
    top: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 1.8em; /* Initial font size */
    line-height: 1; /* Ensure no extra space between lines */
    display: flex;
    flex-direction: column;
    justify-content: left;
    overflow: hidden; /* Hide overflowing content */
}

@media (max-width: 767px) {
    .left-text {
        flex-direction: row;
        align-items: center;
        height: auto; /* Allow content to expand vertically */
        font-size: 1.5em; /* Adjust font size for mobile */
    }
}

.word {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    align-self: flex-start; /* Align words to the left within the container */
}


